---
layout: default
title: Projects I've worked on - Kevin Brown-Silva
---

<div class="container">
    <div class="page-header">
        <h1>Some of the things I've built.</h1>

        <p>
            A lot of the projects that I've worked on can't be shown here. But the side projects that I've created, and the open source projects that I'm a maintainer of, can be.
        </p>
    </div>

{% for project in site.data.projects %}
{% include projects/card.html project=project %}
{% endfor %}
</div>