<div class="page-header">
    <h1>I build applications from the ground up</h1>
</div>

<div class="alert alert-warning">
    <strong>It's a work in progress:</strong>
    This website is still under construction.  Not all of the pages have been
    created.
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Web</h2>

        <img src="http://placehold.it/1100x700"
            class="img-rounded img-thumbnail" />

        <p>
            Some awesome information about the application that is being
            shown.  Along with some information on what technologies it
            used and anything related to it that was made open-source.
        </p>

        <p>
            <a href="#/projects/web">
                Other web projects I've worked on
                <i class="icon-arrow-up"></i>
            </a>
    </div>
    <div class="col-sm-6">
        <h2>Native</h2>

        <img src="http://placehold.it/1100x700"
            class="img-rounded img-thumbnail" />

        <p>
            Something about what I know for native languages and what
            this picture is about.  There would also be some cool information
            on what it used and targetted, maybe even how it was built.
        </p>

        <p>
            <a href="#/projects/native">
                Other native applications I've worked on
                <i class="icon-arrow-up"></i>
            </a>
        </p>
    </div>
</div>
