<div class="page-header">
    <h1>I build applications from the ground up</h1>
</div>

<div class="alert alert-warning">
    <strong>It's a work in progress:</strong>
    This website is still under construction.  Not all of the pages have been
    created.
</div>

<div class="row">
    <div class="col-sm-6">
        <h2>Web</h2>

        <img ng-src="{{ web.image }}"
            class="img-rounded img-thumbnail" />

        <p>{{ web.description }}</p>

        <p>
            <a href="#/projects/category/web">
                Other web projects I've worked on
                <i class="icon-arrow-right"></i>
            </a>
        </p>
    </div>
    <div class="col-sm-6">
        <h2>Native</h2>

        <img ng-src="{{ native.image }}"
            class="img-rounded img-thumbnail" />

        <p>{{ native.description }}</p>

        <p>
            <a href="#/projects/category/native">
                Other native applications I've worked on
                <i class="icon-arrow-right"></i>
            </a>
        </p>
    </div>
</div>

{{ projects }}
