<div class="resume">

<div class="page-header">
    <h1>Kevin Brown</h1>
</div>

<section class="row">
    <div class="col-md-3">
        <h2>Work Experience</h2>
    </div>
    <div class="col-md-9">
        <h3>
            Rediker Software, Inc.
            <small>
                Hampden, MA <br />
                June 2011 &ndash; Present
            </small>
        </h3>

        <h4>
            Lead Developer
        </h4>

        <p>
            Managed a team of six developers as we continued to maintain and
            release features for the Teacher Evaluator web application.
        </p>

        <h4>
            Development Intern
        </h4>

        <p>
            Worked with a team of four other developers to create the Teacher
            Evaluator web application.
        </p>

        <h4>
            Sales / Marketing Intern
        </h4>

        <h3>
            Hampden-Wilbraham Regional School District
            <small>
                Wilbraham, MA <br />
                August 2011 &ndash; August 2012
            </small>
        </h3>

        <h4>
            Techology Intern
        </h4>

        <!--<p>
            Some more less awesome information
        </p>-->
    </div>
</section>

<section class="row">
    <div class="col-md-3">
        <h2>Volunteer Work</h2>
    </div>
    <div class="col-md-9">
        <h3>
            Key Club
        </h3>
    </div>
</section>

<!--<section class="row">
    <div class="col-md-3">
        <h2>Education</h2>
    </div>
    <div class="col-md-9">
        <h3>
            Western New England University
        </h3>
    </div>
</section>-->

</div>
