$body-bg: #efefef;

$navbar-default-bg: #1976D2;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: #dfdfdf;

$jumbotron-bg: #2196F3;
$jumbotron-color: #f2f2f2;
$jumbotron-heading-color: white;
$jumbotron-padding: 20px;