<footer class="clearfix">
    <div class="container">
        <ul class="nav nav-pills">
            <li>
                <a href="https://github.com/kevin-brown"><i class="fa fa-github"></i> GitHub</a>
            </li>
            <li>
                <a href="http://devpost.com/kevin-brown"><i class="fa fa-file-code-o"></i> Devpost</a>
            </li>
            <li>
                <a href="https://stackoverflow.com/users/359284"><i class="fa fa-stack-overflow"></i> Stack Overflow</a>
            </li>
            <li>
                <a href="https://twitter.com/ReadySetDeploy"><i class="fa fa-twitter"></i> Twitter</a>
            </li>
            <li>
                <a href="mailto:kevin@kevin-brown.com"><i class="fa fa-envelope"></i> Email</a>
            </li>
        </ul>

        Kevin Brown
    </div>
</footer>