<header class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Kevin Brown</a>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/projects.html">My work</a>
                </li>
                <li>
                    <a href="https://blog.kevin-brown.com">Blog</a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/cv/kbrown"><i class="fa fa-file-text"></i> R&eacute;sum&eacute;</a>
                </li>
                <li>
                    <a href="mailto:kevin@kevin-brown.com"><i class="fa fa-envelope"></i> Get in touch</a>
                </li>
            </ul>
        </nav>
    </div>
</header>