<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Kevin Brown</a>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/projects.html">My work</a></li>
                <li><a href="https://blog.kevin-brown.com">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li>
                    <a href="https://github.com/kevin-brown">
                        GitHub
                    </a>
                </li>
                <li>
                    <a href="https://stackoverflow.com/cv/kbrown">
                        R&eacute;sum&eacute;
                    </a>
                </li>
                <li>
                    <a href="mailto:kevin@kevin-brown.com">
                        Get in touch
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>