body
{
    padding-top: 50px;
}

.row-flexible .row
{
    margin-bottom: 1em;
}

.contact-list
{
    margin: 0;
}

.contact-list dt
{
    width: 30px
}

.contact-list dd
{
    margin-left: 40px;
}

.tools-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.tools-list .tool
{
    float: left;
    margin-right: 1em;
}

.tools-list .tool img
{
    height: 60px;
    width: 60px;
}

.resume .first-row
{
    margin-top: 1.5em;
}

.resume section
{
    margin-bottom: 1em;
}

.resume h2, .resume h3
{
    margin-top: 0;
}

.resume h3 small
{
    float: right;
    line-height: 1.5em;
    text-align: right;
}

.resume h4
{
    font-style: italic;
}

@page
{
    margin: 0;
}

@media print
{
    body
    {
        margin: 0;
        padding: 0;
    }

    header
    {
        display: none;
    }

    .page-header, h1
    {
        margin-top: 0;
        padding: 5px;
    }

    .resume h1
    {
        font-size: 20pt;
        margin: 0;
    }

    .resume h1::after
    {
        content: "http://kevinbrown.in/#/resume";
        float: right;
        font-size: 11pt;
    }

    .resume h2
    {
        border-bottom: 1px solid black;
        font-size: 18pt;
        padding: 5px 0;
    }

    .resume section
    {
        margin: 0;
        padding: 0;
    }

    .resume .contact, .resume .languages
    {
        float: left;
        padding-right: 1cm;
    }

    .resume .contact h2
    {
        border-bottom: none;
    }

    .resume .contact a::after
    {
        content: "";
    }

    .resume .contact abbr::after
    {
        content: attr(title);
    }

    .resume .contact-list i
    {
        display: none;
    }

    .resume .technologies-info
    {
        display: none;
    }

    .resume .work h3
    {
        font-size: 16pt;
    }

    .resume .work h4
    {
        font-size: 14pt;
    }

    .resume .projects h3
    {
        font-size: 14pt;
    }

    .resume .github-source
    {
        display: block;
        font-size: 11pt;
        margin-top: 3px;
    }

    .resume .github-source i::before
    {
        content: "GitHub:";
    }

    .resume .github-source::after
    {
        content: attr(href);
    }

    .resume .projects h3 small::before
    {
        content: "Tools used:";
    }

    .resume .projects .tool
    {
        padding: 0;
        padding-left: 3px;
    }
}

.projects-list .project h2
{
    margin: 0;
    margin-bottom: 0.5em;
}

.projects-list .project-link
{
    display: block;
    margin-bottom: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
