body
{
    padding-top: 50px;
}

.row-flexible .row
{
    margin-bottom: 1em;
}

.tools-list
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.tools-list .tool
{
    float: left;
    margin-right: 1em;
}

.tools-list .tool img
{
    height: 60px;
    width: 60px;
}

.resume section
{
    margin-bottom: 1em;
}

.resume h2, .resume h3
{
    margin-top: 0;
}

.resume h3 small
{
    float: right;
    line-height: 1.5em;
    text-align: right;
}

.resume h4
{
    font-style: italic;
}

.projects-list .project h2
{
    margin: 0;
    margin-bottom: 0.5em;
}

.projects-list .project-link
{
    display: block;
    margin-bottom: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
